.content {
	display: flex;
	justify-content: center;
	padding: 0 77px;

	font-family: var(--font-content);
}

.content img {
	flex: 1;
	width: 100%;
	height: 400px;
	object-fit: contain;
}

.content-desc {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
	align-items: start;
}

.content-desc h1 {
	color: var(--gray-1);
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -2.24px;
	max-width: 500px;
}

.content-desc p {
	color: var(--gray-2);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.84px;
	max-width: 381px;
}

.content-desc button {
	border: none;
	background-color: var(--gray-1);
	font-family: var(--font-content);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.49px;
	text-transform: uppercase;
	color: #fff;

	cursor: pointer;

	padding: 24px 43px;
}

.content-desc button:hover {
	opacity: 0.5;
}
